$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    margin-top:70px;
}

h1 {
    color: red;
}

.touched {
    background-color: blue;
}
